@page "/schedules"
@using Newtonsoft.Json
@using Scheduler.Model.ViewModels
@inject HttpClient HttpClient

<h1>Schedules</h1>

<table>
    <tbody>
    @*<tr><td>@_scheduleViewModels.Count</td></tr>*@
    @foreach (var schedule in _scheduleViewModels)
    {
        <tr>
            <td>
                @schedule.Title
            </td>
            <td>
                @schedule.Creator
            </td>
            <td>
                @schedule.TimeStart.ToString("dd/MM/yyyy")
            </td>
            <td>
                @schedule.TimeEnd.ToString("dd/MM/yyyy")
            </td>
        </tr>
    }
    </tbody>
</table>

@code {
    private readonly string _baseUrl = "http://localhost:5000/api";
    private List<ScheduleViewModel> _scheduleViewModels = new List<ScheduleViewModel>();
    private string r;

    protected override async Task OnInitializedAsync()
    {
        await GetSchedules();
    }

    private async Task GetSchedules()
    {
        var response = await HttpClient.GetAsync($"{_baseUrl}/schedule");
        r = await response.Content.ReadAsStringAsync();
        _scheduleViewModels = JsonConvert.DeserializeObject<List<ScheduleViewModel>>(r);
    }

}